//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT     0
#define NUM         1
#define FUNC        2

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <10 11 12 13>;
            bindings = <&kp ESC>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default {
            display-name = "Default";
            bindings = <
                  &kp Q       &kp W        &kp F         &kp P       &kp B         &kp J        &kp L          &kp U         &kp Y        &kp SEMICOLON
                  &hm LALT A  &hm LCTRL R  &hm LSHIFT S  &hm LGUI T  &hm RALT G    &hm RALT M   &hm LGUI N     &hm LSHIFT E  &hm LCTRL I  &hm LALT O
&kp LEFT_BRACKET  &kp Z       &kp X        &kp C         &kp D       &kp V         &kp K        &kp H          &kp COMMA     &kp DOT      &kp SLASH      &kp RIGHT_BRACKET
                                           &lt NUM ESC     &kp SPACE   &lt FUNC TAB     &lt NUM ENTER  &kp BACKSPACE  &lt FUNC DEL
            >;
        };

        num {
            display-name = "Number";
            bindings = <
                      &trans             &trans              &kp TILDE            &kp DOUBLE_QUOTES  &trans               &kp DOWN           &kp RIGHT          &kp UNDERSCORE       &kp PLUS            &kp PIPE
                      &hm LALT NUMBER_1  &hm LCTRL NUMBER_2  &hm LSHIFT NUMBER_3  &hm LGUI NUMBER_4  &hm RALT NUMBER_5    &hm RALT NUMBER_6  &hm LGUI NUMBER_7  &hm LSHIFT NUMBER_8  &hm LCTRL NUMBER_9  &hm LALT NUMBER_0
&kp LEFT_PARENTHESIS  &trans             &trans              &kp GRAVE            &kp APOSTROPHE     &trans               &kp UP             &kp LEFT           &kp MINUS            &kp EQUAL           &kp BACKSLASH      &kp RIGHT_PARENTHESIS
                                                             &lt FUNC ESC            &trans             &trans               &trans             &trans             &lt FUNC DEL
            >;
        };

        func {
            display-name = "Function";
            bindings = <
         &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
         &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&kp F11  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &kp F12
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
